@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
$assets-path: '../assets/images';
body {
  font-family: "Quicksand", sans-serif;
  display: flex;
  justify-content: center;
  padding: 0;
  color: #4d4d4d;
}

#title {
  text-align: center;
}

#datatable {
  border-collapse: collapse;
  border: 3px solid #ddd;
}

#datatable td,
#datatable th {
  border: 1px solid #ddd;
  padding: 12px;
}

#datatable tr:hover {
  background-color: #ddd;
}

#datatable th {
  padding: 10px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}

.opration {
  text-align: center;
}
#datatable td .delete-icon {
    background-image: url('#{$assets-path}/delete-icon.svg');
}
td .delete-icon {
    background-image: url('#{$assets-path}/delete-icon.svg');
}
#datatable img:hover {
  cursor: pointer;
}
.pagination, .pagination a {
  background: #f7f7f7;
  padding: 5px 10px;
  text-decoration: none;
  color: #7e7e7e;
  border: 1px solid #c6c6c6;
  font-weight: bold;
  border-radius: 3px;
}


.pagination:hover {
  background: #f7f7f7;
  padding: 5px 10px;
  text-decoration: none;
  color: #7e7e7e;
  border: 1px solid #c6c6c6;
  font-weight: bold;
  border-radius: 3px;
}

.current a {
  background: orange;
  padding: 5px 10px;
  text-decoration: none;
  color: #7e7e7e;
  border: 1px solid#c6c6c6;
  font-weight: bold;
  border-radius: 3px;
}

.pagenumbers a.current{
  background: orange;
  padding: 5px 10px;
  text-decoration: none;
  color: #7e7e7e;
  border: 1px solid#c6c6c6;
  font-weight: bold;
  border-radius: 3px;
}